{
  "extends": ["rapid7/browser"],
  "globals": {
    "__dirname": true,
    "global": true,
    "module": true,
    "process": true,
    "require": true
  },
  "parser": "babel-eslint",
  "rules": {}
}
