{
  "extends": ["airbnb"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "max-len": 0,
    "operator-linebreak": 0,
    "no-multi-assign": 0,
    "no-plusplus": 0,
    "no-proto": 0,
    "no-self-compare": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 0,
    "valid-typeof": 0,

    "import/extensions": 0,
    "import/prefer-default-export": 0
  }
}
